/* body */

body  {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

/* header */

header  {
  background-color: rgba(238, 240, 239, 0.75);
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 200px;
}

.header__nav ul {
  list-style-type: none;
  display: flex;
}

@media screen and (max-width: 700px) {
  .header__nav ul {
    display: none;
    /* à remplacer par un bouton menu et des menus verticaux */
  }
}

.header__nav ul li a  {
  color: rgb(83, 79, 79);
  padding: 0.5em;
}

.header__nav ul li a:hover  {
  color: rgb(19, 19, 184);
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  box-shadow: 0 0 1em rgb(128, 128, 128);
}

.header__nav ul li:not(:last-child)::after {
  content: "\2764";
  margin: 0.5em;
}

.header__submenu ul {
  display: none;
}

.header__submenu ul:hover {
  display: block;
}

.header__nav ul li a:hover.header__submenu  {
  /* fait apparaître une barre de sous-menu */
}

/* 1e section : partenaire */

.partenaire {
  position: relative;
  top: 150px;
  z-index: -1;
}

.partenaire__haut {
  display: flex;
  padding-left: 3em;
  padding-right: 2em;
  font-size: 1.1em;
  font-weight: 400;
}

.partenaire__haut h1  {
  padding: 1em;
  padding-left: 0;
  font-size: 1.6em;
}

.partenaire__haut strong  {
  color: rgb(34,227,158);
  font-weight: 600;
  padding-left: 0.2em;
}

.partenaire__images {
  display: flex;
  align-items: center;
  padding-left: 2em;
}

.partenaire__images img  {
  width: 250px;
  padding: 0.5em;
  border-radius: 2em;
}

@media screen and (max-width: 1000px) {
  .partenaire__haut  {
    flex-direction: column;
  }

  .partenaire__images div {
    flex: 1;
    text-align: center;
  }
  
  .partenaire__images img {
    width: 330px;
  }
}

@media screen and (max-width: 800px) {
  
  .partenaire__haut {
    padding-left: 1em;
    text-align: center;
  }

  .partenaire__images {
    flex-direction: column;
  }

  .partenaire__images img {
    width: 400px;
  }
}

@media screen and (min-width: 1250px) {
  .partenaire__haut {
    padding-left: 4em;
    padding-right: 2.5em;
    font-size: 1.2em;
  }
  .partenaire__haut h1  {
    font-size: 1.8em;
  }
  .partenaire__images {
    padding-left: 2.5em;
  }
  .partenaire__images img {
    width: 330px;
  }
}

.partenaire__bandeau {
  text-align: center;
}

/* 2 section : offres */

.offres {
  position: relative;
  top: 170px;
}
